<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/Resume">Resume</a></li>
<li><a href="/Publications">Publications</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <p align = "right"><a href="mailto:rkrish11@ncsu.edu" style="line-height:1.5;text-align:right;background-color:transparent" target="_blank"><img alt="gmail" height="40" src="http://www.seeklogo.com/images/G/gmail-logo-286F380C2D-seeklogo.com.gif" align="middle"></a><a> </a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp;</span><a href="https://www.linkedin.com/pub/rahul-krishna/5b/624/860" rel="nofollow" style="line-height:1.5;text-align:right;background-color:transparent"><img alt="linkedin" height="40" src="http://www.seeklogo.com/images/L/linkedin-icon-logo-05B2880899-seeklogo.com.gif" align="middle"></a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp;</span><a href="https://github.com/rahlk/" rel="nofollow" style="line-height:1.5;text-align:right;background-color:transparent"><img alt="github" height="60" src="http://www.seeklogo.com/images/G/github-logo-9BBCA663A4-seeklogo.com.gif" align="middle"></a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp;</span><a href="https://www.facebook.com/rahlk" rel="nofollow" style="line-height:1.5;text-align:right;background-color:transparent"><img alt="fb" height="40" src="https://www.facebookbrand.com/img/assets/asset.f.logo.lg.png" align="middle"></a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp;</span><a href="https://twitter.com/rahlkrsn" rel="nofollow" style="line-height:1.5;text-align:right;background-color:transparent"><img alt="twitter" height="40" src="https://g.twimg.com/Twitter_logo_blue.png" align="middle"></a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp;</span><a href="http://instagram.com/rkrsn" rel="nofollow" style="line-height:1.5;text-align:right;background-color:transparent"><img alt="instagram" height="40" src="http://www.seeklogo.com/images/I/instagram-logo-F29269FC63-seeklogo.com.gif" align="middle"></a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp;</span><a href="http://www.last.fm/user/rahlk" rel="nofollow" style="line-height:1.5;text-align:right;background-color:transparent"><img alt="Spotify" height="45" src="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_lastfm_box_red.png" align="middle"></a>
   <span style="line-height:1.5;text-align:right;background-color:transparent">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
   </p></div>
  </footer>
  </body>

</html>
